<div class="panel panel-primary">

    <div class="panel-body">
        <div class="panel-heading font-weight-bold ml-2 mb-2">Lista de diseños</div>
        <table class="resultados table table-striped">
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Email
                </th>
                <th>
                    Nombres
                </th>
                <th>
                    Apellidos
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Opciones
                </th>
                <th>
                </th>
            </tr>
            <tr *ngFor="let row of disenios | paginate: {itemsPerPage: 5, currentPage: p}">
                <td>{{row.fechaCreacion}}</td>
                <td>{{row.emailDisenador}}</td>
                <td>{{row.nombresDisenador}}</td>
                <td>{{row.apellidosDisenador}}</td>
                <td>{{row.estado}}</td>
                <td>{{row.costo}}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary mr-2" (click)="abrir(row.editPath)">
                        <i class="far fa-image"></i>Abrir
                    </button>
                </td>
            </tr>
        </table>
        <div class="text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <br />
    </div>