<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>REGISTRO</h3>
            <h5>Bienvenido al panel de registro</h5>
            <p>Por favor ingresa todos los datos necesarios.</p>
            <input type="submit" value="Login" (click) = "openLogin()"/><br />
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">REGISTRO DE EMPRESA</h3>
                    <div class="row register-form">

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" name="txtEmpPhone" class="form-control"
                                    placeholder="Nombre de la empresa *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email de la empresa *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Contraseña *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirmar contraseña *" value="" />
                            </div>
                            <input type="submit" class="btnRegister" value="Enviar registro" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>