<div class="modal-dialog text-center">
    <div class="main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="https://image.flaticon.com/icons/png/512/272/272354.png">
            </div>
            <form class="col-12" #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                    ¡Verifica el usuario y contraseña!
                </div>
                <div class="form-group">
                    <input type="name" id="name" name="name" class="form-control" placeholder="Usuario"
                        [(ngModel)]="name" required>
                </div>
                <div class="form-group">
                    <input type="password" id="pasword" name="pasword" class="form-control" placeholder="Contraseña"
                        [(ngModel)]="password" required>
                </div>
                <button class="btn" type="submit"> <i class="fas fa-sign-in-alt"></i> Login </button>
            </form>
            <div class="col-12 forgot">
                <a>Crear cuenta</a>
            </div>
        </div>
    </div>
</div>