<div class="modal-dialog text-center">
    <div class="main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="https://image.flaticon.com/icons/png/512/272/272354.png">
            </div>
            <form class="col-12" #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                    ¡Verifica el usuario y contraseña!
                </div>
                <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email"
                        [(ngModel)]="email" required>
                </div>
                <div class="form-group">
                    <input type="password" id="pasword" name="pasword" class="form-control" placeholder="Contraseña"
                        [(ngModel)]="password" required>
                </div>
                <button class="btn" type="submit"> <i class="fas fa-sign-in-alt"></i> Login </button>
            </form>
            <div class="col-12 forgot">
                <input type="submit" value="Crear cuenta" (click)="openRegister()" /><br />
            </div>
            <div class="cancel">
                <button type="button" class="btn-danger float-right boton" (click)="cancelLogin()"><i
                        class="fas fa-window-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>